@{
    ViewBag.Title = "Login";
    Layout = null;
}

<style>

    body {
        overflow: hidden;
    }

    .hidden {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 0;
    }

    .visible {
        max-height: 1000px;
        opacity: 1;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }

    #user {
        transition: flex 0.5s ease-out, width 0.5s ease-out;
    }

    #firm {
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        overflow: hidden;
    }

    .modal-dialog.modal-dialog-right {
        position: fixed;
        top: 56px;
        right: 0;
        margin: 0;
        width: 32%; 
        height: calc(100% - 56px); 
        overflow-y: auto;
    }

    .modal.show {
        display: block; 
        background-color: rgba(0, 0, 0, 0.5); 
    }

</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h4 class="text-light">ESBİ Bilişim</h4>
        <button class="btn ms-auto d-flex align-items-center" id="kurulumBtn" style="font-weight: bold; color: white;">
            Kurulum Yap <i class="fa-solid fa-gear ms-2" style="font-size: 24px;"></i>
        </button>
    </div>
</nav>

<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg p-4 rounded w-100" style="max-width: 400px;">
        <h3 class="card-title text-center mb-4 text-primary">Giriş Yap</h3>
        <div class="row no-gutters">
            <div id="user" class="col-md-12 p-4">
                <form>
                    <div class="form-group mb-2">
                        <label for="KULLANICIADI" class="pb-1">
                            <i class="bi bi-person-fill me-1 text-primary"></i> Kullanıcı Adı
                        </label>
                        <input type="text" class="form-control" id="KULLANICIADI" placeholder="Kullanıcı adınızı giriniz">
                    </div>
                    <div class="form-group mb-2">
                        <label for="KULLANICISIFRESI_USER" class="pb-1">
                            <i class="bi bi-lock-fill me-1 text-primary"></i> Şifre
                        </label>
                        <input type="password" class="form-control" id="KULLANICISIFRESI_USER" placeholder="Şifrenizi giriniz">
                    </div>
                    <div class="form-group mb-2">
                        <label for="GUVENLIKKODU_USER" class="pb-1">
                            <i class="bi bi-shield-lock-fill me-1 text-primary"></i> Güvenlik Kodu
                        </label>
                        <input type="text" class="form-control" id="GUVENLIKKODU_USER" onkeypress="return onlyNumbers(event)" placeholder="Güvenlik kodunu giriniz">
                    </div>
                </form>
                <button class="btn btn-primary btn-block w-100" id="loginBtn" onclick="login()">Giriş Yap</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verificationModalLabel">Doğrulama Kodu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lütfen WhatsApp'a gönderilen doğrulama kodunu giriniz.</p>
                <label for="verificationCode" class="form-label">Doğrulama Kodu:</label>
                <input type="text" id="verificationCode" class="form-control" />
                <p class="mt-3 text-danger" id="timerText">Kalan Süre: 5:00</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="verifyCodeBtn">Doğrula</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="kurulumModal" tabindex="-1" aria-labelledby="kurulumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title text-center mb-4">Firma Bilgileri</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group mb-2">
                        <label for="FIRMAUNVANI" class="pb-1">Firma Ünvanı</label>
                        <input type="text" class="form-control" id="FIRMAUNVANI" placeholder="Firma adı">
                    </div>
                    <div class="form-group mb-2">
                        <label for="YETKILIADISOYADI" class="pb-1">Yetkili Adı Soyadı</label>
                        <input type="text" class="form-control" id="YETKILIADISOYADI" placeholder="Yetkili adı soyadı">
                    </div>
                    <div class="form-group mb-2">
                        <label for="KULLANICISIFRESI" class="pb-1">Kullanıcı Şifresi</label>
                        <input type="password" class="form-control" id="KULLANICISIFRESI" placeholder="Kullanıcı şifresi">
                    </div>
                    <div class="form-group mb-2">
                        <label for="TELEFONNO" class="pb-1">[API - Yetkili] Telefon Numarası</label>
                        <div style="display: flex;">
                            <input type="text" class="form-control" style="width:49%; margin-right:5px;" id="APITELEFONNO" placeholder="API numarası" maxlength="12">
                            <input type="text" class="form-control" style="width:49%;" id="YETKILITELEFONNO" placeholder="Yetkili numarası" maxlength="12">
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="WAPIKEY" class="pb-1">WAPI Key</label>
                        <input type="text" class="form-control" id="WAPIKEY" placeholder="WAPI Key">
                    </div>
                    <div class="form-group mb-2">
                        <label for="GUVENLIKKODU" class="pb-1">Güvenlik Kodu</label>
                        <input type="text" class="form-control" id="GUVENLIKKODU" onkeypress="return onlyNumbers(event)" placeholder="Güvenlik kodu">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-light" onclick="login()" data-bs-dismiss="modal">Kaydet</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/Bekleyiniz.js"></script>

<script>

    $(document).ready(function() {
        const kurulumModal = new bootstrap.Modal(document.getElementById('kurulumModal'), {
            backdrop: 'static',  
            keyboard: false     
        });

        Temizle();
        apiTelefon();
        yetkiliTelefon();
    });

     function onlyNumbers(e) {
        var charCode = e.which || e.keyCode;
        if (charCode < 48 || charCode > 57) {
            e.preventDefault();
            return false;
        }
        return true;   t
    }

    function openVerificationModal() {
        const verificationModal = new bootstrap.Modal(document.getElementById('verificationModal'), {});
        verificationModal.show();

        startCountdown(5, 0);
    }

    function startCountdown(minutes, seconds) {
        const timerText = document.getElementById("timerText");
        let totalSeconds = minutes * 60 + seconds;

        const interval = setInterval(() => {
            const mins = Math.floor(totalSeconds / 60);
            const secs = totalSeconds % 60;

            timerText.textContent = `Kalan Süre: ${mins}:${secs < 10 ? "0" + secs : secs}`;

            if (totalSeconds <= 0) {
                clearInterval(interval);
                timerText.textContent = "Zaman Aşımı!";
                document.getElementById("verifyCodeBtn").disabled = true;
            }
            totalSeconds--;
        }, 1000);
    }

    document.getElementById("verifyCodeBtn").addEventListener("click", () => {
        const verificationCode = document.getElementById("verificationCode").value;

        if (!verificationCode) {
            alert("Lütfen doğrulama kodunu giriniz.");
            return;
        }

    });

    function Temizle() {
        $("#FIRMAUNVANI").val('');
        $("#YETKILIADISOYADI").val('');
        $("#KULLANICISIFRESI").val('');
        $("#APITELEFONNO").val('');
        $("#YETKILITELEFONNO").val('');
        $("#WAPIKEY").val('');
        $("#GUVENLIKKODU").val('');
        $("#KULLANICIADI").val('');
        $("#KULLANICISIFRESI_USER").val('');
        $("#GUVENLIKKODU_USER").val('');
    }

    let flag = "0";

    const kurulumBtn = document.getElementById('kurulumBtn');
    const loginBtn = document.getElementById('loginBtn');

    const leftInputs = document.querySelectorAll('#KULLANICIADI, #KULLANICISIFRESI_USER, #GUVENLIKKODU_USER');
    const rightInputs = document.querySelectorAll('#FIRMAUNVANI, #YETKILIADISOYADI, #KULLANICISIFRESI, #APITELEFONNO, #YETKILITELEFONNO, #WAPIKEY, #GUVENLIKKODU');

    kurulumBtn.addEventListener('click', function () {
        $("#kurulumModal").modal("show");
        
        $("#KULLANICIADI").val('');
        $("#KULLANICISIFRESI_USER").val('');
        $("#GUVENLIKKODU_USER").val('');

        flag = "0";
    });

    function validateInputs(flag) {
        const inputsToCheck = flag === "0" ? leftInputs : rightInputs;

        let isValid = true;
        let emptyFields = [];
        let invalidInputs = [];

        inputsToCheck.forEach(input => {
            if (input.value.trim() === "" || input.value.trim() === "90") {
                isValid = false;
                emptyFields.push(input.previousElementSibling.textContent.trim());
                invalidInputs.push(input);
                input.style.border = "1px solid red";
            } else {
                input.style.border = "";
            }
        });

        if (!isValid) {
            invalidInputs[0].focus();
            alert(`Lütfen aşağıdaki alanları doldurunuz:\n- ${emptyFields.join("\n- ")}`);
            return false;
        }
        return true;
    }

    function apiTelefon() {
        const phoneInput = document.getElementById('APITELEFONNO');
        phoneInput.value = '90';

        phoneInput.addEventListener('input', function () {
            let value = phoneInput.value.replace(/[^\d]/g, '');
            if (!value.startsWith('90')) {
                value = '90' + value.slice(0, 10);
            }
            phoneInput.value = value.slice(0, 12);
        });

        phoneInput.addEventListener('keydown', function (e) {
            if (phoneInput.selectionStart < 3 && (e.key === 'Backspace' || e.key === 'Delete')) {
                e.preventDefault();
            }
        });

        phoneInput.addEventListener('select', function () {
            if (phoneInput.selectionStart < 3) {
                phoneInput.setSelectionRange(2, phoneInput.selectionEnd);
            }
        });
    }

    function yetkiliTelefon() {
        const phoneInput = document.getElementById('YETKILITELEFONNO');
        phoneInput.value = '90';

        phoneInput.addEventListener('input', function () {
            let value = phoneInput.value.replace(/[^\d]/g, '');
            if (!value.startsWith('90')) {
                value = '90' + value.slice(0, 10);
            }
            phoneInput.value = value.slice(0, 12);
        });

        phoneInput.addEventListener('keydown', function (e) {
            if (phoneInput.selectionStart < 3 && (e.key === 'Backspace' || e.key === 'Delete')) {
                e.preventDefault();
            }
        });

        phoneInput.addEventListener('select', function () {
            if (phoneInput.selectionStart < 3) {
                phoneInput.setSelectionRange(2, phoneInput.selectionEnd);
            }
        });
    }

    $("#verifyCodeBtn").on("click", function () {
        let code = $("#verificationCode").val();

        $.ajax({
            url: '/Home/VerifyCode',
            method: 'POST',
            data: { verificationCode: code },
            success: function (response) {
                if (response.Success) {
                    alert("Doğrulama başarılı!");
                    window.location.href = response.Data.URL;
                } else {
                    alert("Doğrulama kodu hatalı veya süresi dolmuş.");
                }
            },
            error: function (xhr, status, error) {
                alert('Bir Hata Oluştu: ' + error);
            }
        });
    });

    function login(){
        showPleaseWait();

        if (!validateInputs(flag)) {
            hidePleaseWait();
            return;
        }

        let FIRMAUNVANI = $("#FIRMAUNVANI").val();
        let YETKILIADISOYADI = $("#YETKILIADISOYADI").val();
        let KULLANICISIFRESI = $("#KULLANICISIFRESI").val();
        let APITELEFONNO = $("#APITELEFONNO").val();
        let YETKILITELEFONNO = $("#YETKILITELEFONNO").val();

        if (FIRMAUNVANI != "") {
             if (!APITELEFONNO.startsWith("90")) {
                alert("Api Telefon numarası 90 ile başlamalıdır.");
                hidePleaseWait();
                $("#APITELEFONNO").focus();
                return;
            }

            if (!YETKILITELEFONNO.startsWith("90")) {
                alert("Yetkili Telefon numarası 90 ile başlamalıdır.");
                hidePleaseWait();
                $("#YETKILITELEFONNO").focus();
                return;
            }
        }

        let WAPIKEY = $("#WAPIKEY").val();
        let GUVENLIKKODU = $("#GUVENLIKKODU").val();
        let KULLANICIADI = $("#KULLANICIADI").val();
        let KULLANICISIFRESI_USER = $("#KULLANICISIFRESI_USER").val();
        let GUVENLIKKODU_USER = $("#GUVENLIKKODU_USER").val();

        $.ajax({
            url: '/Home/UserLogin',
            method: 'POST',
            data: {FIRMAUNVANI,YETKILIADISOYADI,KULLANICISIFRESI,APITELEFONNO,YETKILITELEFONNO,WAPIKEY,GUVENLIKKODU,KULLANICIADI,KULLANICISIFRESI_USER,KULLANICISIFRESI_USER,GUVENLIKKODU_USER},
            success: function (response) {
                hidePleaseWait();
                 if (response.Success) {

                    // alert("Doğrulama kodu WhatsApp'a gönderildi. Lütfen kontrol edin.");
                    openVerificationModal();


                // alert(response.Message);
                // window.location.href = response.Data.URL;
            } else {
                alert(response.Message);
            }
            },
            error: function (xhr, status, error) {
                hidePleaseWait();
                alert('Bir Hata Oluştu: ' + error);
                console.error(error);
            }
        });
    }

</script>